* {
    margin: 5px;
    padding: 0;
    font-family: sans-serif;
    border: none;
    color: white;
}

.book-container {
    display: flex; 
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.book-card {
    background-color: #F97A00;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 3px #386641;
}

button {
    border: none;
    background-color: #386641;
    padding: 10px 20px;
    border-radius: 20px;
}

input {
    color: black;
    padding: 5px;
    font-size: 1rem;
}

form {
    width: max-content;
    background-color: #F97A00;
    padding: 20px;
    border-radius: 20px;
}

.hide {
    display: none;
}

svg {
    width: 1.5rem;
}